<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xuanshang"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/Anim_style2" >
        <activity
            android:name="com.ofu.sixdegrees.activity.Appstart"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ofu.sixdegrees.activity.login"
            android:theme="@style/Anim_style2" />
        <activity
            android:name="com.ofu.sixdegrees.activity.mainXuanshang"
            android:theme="@style/Anim_style2" />
        <activity
            android:name="com.ofu.sixdegrees.activity.MainTopRightDialog"
            android:theme="@style/MyDialogStyleTop" />
        <activity
            android:name="com.ofu.sixdegrees.activity.renwu"
            android:theme="@style/Anim_style2" >
        </activity>
        <activity
            android:name="com.ofu.sixdegrees.activity.fabu"
            android:theme="@style/Anim_style2" />
        <activity
            android:name="com.ofu.sixdegrees.activity.reward"
            android:theme="@style/Anim_style2" />
        <activity
            android:name="com.ofu.sixdegrees.activity.showreward"
            android:theme="@style/Anim_style2" />
        <activity
            android:name="com.ofu.sixdegrees.activity.showtask"
            android:theme="@style/Anim_style2" />
        <activity
            android:name="com.ofu.sixdegrees.activity.wancheng"
            android:theme="@style/Anim_style2" />
        <activity
            android:name="com.ofu.sixdegrees.activity.welcome"
            android:theme="@style/Anim_style2" />
        <activity
            android:name="com.ofu.sixdegrees.activity.zhuce"
            android:theme="@style/Anim_style2" />
    </application>

</manifest>